# Adres i port lokalnej strony
WORDPRESS_PORT=8080
WP_URL=http://localhost:8080

# Dane strony tworzonej przy pierwszym uruchomieniu
WP_TITLE=Dębowa Zagroda
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin
WP_ADMIN_EMAIL=admin@example.test
WORDPRESS_DEBUG=1

# Lokalna baza danych
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=wordpress-root
